@charset "utf-8";

.animation-area{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 99999;background: url(../images/bg-animation.jpg) center bottom /cover no-repeat;display: flex;justify-content:center;align-items:center;text-align: center;}






.tobi-group{display: flex;justify-content:center;align-items:center;animation:walkOutIn 5s ease 1;text-align: center;}

.tobi1,.tobi2,.tobi3{position: relative;}

.tobi1a img	{
	transform: rotate(2deg);
	animation:walkIn-a .5s ease infinite;
	}
.tobi2a img				{
	transform: rotate(-2deg);
	animation:walkIn-b .5s ease infinite;
	}
.tobi3a img				{
	transform: rotate(-2deg);
	animation:walkIn-c .5s ease infinite;
	}

@keyframes walkOutIn {
    0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes walkIn-a {
    0% { transform: rotate(1deg); }
   50% { transform: rotate(-10deg); }
}
@keyframes walkIn-b {
    0% { transform: rotate(-2deg); }
   50% { transform: rotate(2deg); }
}
@keyframes walkIn-c {
    0% { transform: rotate(1deg); }
   50% { transform: rotate(-5deg); }
}



.tobi1a,.tobi2a,.tobi3a{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}

.tobi1b,.tobi2b,.tobi3b{opacity:0;}

.front{}

.front .tobi1a,.front .tobi2a,.front .tobi3a{opacity:0;}
.front .tobi1b,.front .tobi2b,.front .tobi3b{opacity:1;}


.front .tobi1b img,.front .tobi2b img,.front .tobi3b img{animation:rotate .1s ease 1;}

@keyframes rotate {
    0% { transform: rotateY(90deg); }
  100% { transform: rotateY(0deg); }
}


.tobi1a img,.tobi1b img,.tobi2a img,.tobi2b img,.tobi3a img,.tobi3b img{width: auto;height: 300px;}
	@media only screen and (max-width:1199px)	 {.tobi1a img,.tobi1b img,.tobi2a img,.tobi2b img,.tobi3a img,.tobi3b img{height: 250px;}}
	@media only screen and (max-width:991px)	 {.tobi1a img,.tobi1b img,.tobi2a img,.tobi2b img,.tobi3a img,.tobi3b img{height: 200px;}}
	@media only screen and (max-width:767px)	 {.tobi1a img,.tobi1b img,.tobi2a img,.tobi2b img,.tobi3a img,.tobi3b img{height: 150px;}}
	@media only screen and (max-width:575px)	 {.tobi1a img,.tobi1b img,.tobi2a img,.tobi2b img,.tobi3a img,.tobi3b img{height: 90px;}}
